<app-headerPrincipale></app-headerPrincipale>
<body>
    <div class="container main-content">
        <header class="header">
            <h2 class="main-header">{{filtredCertificat[0].title}}</h2>
        </header>

        <div class="course-introduction">
            <iframe 
                id="video_Player_1" 
                src="//player.vimeo.com/video/943227703?color=7451eb" 
                frameborder="0" 
                class="video-player" 
                title="Vidéo introductive" 
                allowfullscreen>
            </iframe>
            <h2>Presentation</h2>
            <p class="course-description">
                {{filtredCertificat[0].description}}
            </p>
        </div>

        <section class="course-details">
            <h2>Objectifs</h2>
            <ul class="objectives-list">
                {{filtredCertificat[0].objectif}}
            </ul>
        </section>

        <aside class="prerequisites">
            <h2>Prérequis</h2>
            <p>{{filtredCertificat[0].prerequisites}}</p>
        </aside>

        <div class="course-navigation">
            <ul class="course-list">
                <li class="course-section" *ngFor="let chapitre of filtreListCertificatChapitre">
                    <section>
                        <h2>Partie {{chapitre.id}} - {{chapitre.titre}}</h2>
                        <hr>
                        <div class="course-content" *ngFor="let contenu of filtrecertificatContenu">
                            <div class="course-item" *ngIf="chapitre.id == contenu.chapitre">
                                <h4>
                                    <a>{{contenu.id}}. {{contenu.sous_titre}}</a>
                                </h4>
                            </div>
                        </div>
                        <div class="course-quiz">
                            <ul>
                                <li><a href="#">Quiz : {{chapitre.titre}}</a></li>
                            </ul>
                        </div>
                    </section>
                </li>
            </ul>
        </div>

        <div class="actions">        
            <button class="btn btn-primary" (click)="onSelectCertificat(certificatIdDom)">Continuer le cours</button>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2024 - Plateforme de Cours Angular</p>
    </footer>
</body>




