

<app-headerPrincipale></app-headerPrincipale>

<div class="container main-content">
  <div class="row">

  <div class="container main-content" *ngFor='let chapitre of chapitreFiltres; let i=index'> <h2 class="main-header">{{chapitre.titre}}</h2>

    <br/>
      <section class="course-details" *ngFor="let section of sectionFiltres; let i = index">
        <ul class="objectives-list" *ngIf="chapitre.id===section.chapitre">
          <li class="course-section">
              <section>
                <hr > {{section.chapitre}}
                <ul class="course-content" >
                  <li class="course-item completed" *ngIf="chapitre.id===section.chapitre">
                    <p *ngIf='chapitre.id===section.chapitre ' [innerHTML]="section.nom_section"> {{ section.nom_section }}   
                      </p>
                  </li>
                  <div *ngFor="let contenu of ContenusFiltres">
                    <p *ngIf='section.id==contenu.section' [innerHTML]="contenu.description">{{ contenu.description }}</p>
                  </div>
                </ul>  
              </section>
            </li>
          </ul>
      </section>
    </div>
    </div>
  </div>









    <ng-template #noChapters>
      <p>Aucun chapitre disponible.</p>
    </ng-template>
 

