
<div  class="container-xl">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-6">
                      <h2>Details <b>d'une formation</b></h2>
                  </div>
                  <div class="col-sm-6">
                      <a  class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span></span></a>
                      <a   class="btn btn-primary" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span></span></a>
                      <a  class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span></span></a>  						
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class='container mb-3 mt-3'>
    <div class="row">
        <h1><b>{{ formations.titre }}</b></h1>
      </div>
      <div class="row">
        <div class="col-md-6">
          <table  class="table no-border-table">
            <tr>
              <td><b>Type :</b></td>
              <td>{{ formations.type }}</td>
            </tr>
            <!-- <tr>
              <td>Domaines éligibles :</td>
              <td>#</td>
            </tr> -->
            <tr>
              <td><b>Niveau requis :</b></td>
              <td>{{ formations.niveau }}</td>
            </tr>
            <tr>
              <td><b>Prix :</b></td>
              <td>{{ formations.prix }} euros</td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <table  class="table no-border-table">
            <tr>
              <td><b>Durée :</b></td>
              <td>{{ formations.duree }}</td>
            </tr>
            <tr>
              <td><b>Nombre de places :</b></td>
              <td>{{ formations.nombre }}</td>
            </tr>
            <tr>
              <td><b>Localisation :</b></td>
              <td>{{ formations.location }}</td>
            </tr>
          </table>
        </div>
      </div>
  
      <div class="row">
        <p><b>Resumé de la formation: </b>{{ formations.resume }} </p>
      </div>

      <!-- nouveau -->
      <div class="card-body">
        <!-- <p><strong>Description:</strong> {{ formation.description }}</p> -->
        <h2><b>Liste des Modules de cette formation:</b></h2>
        moduleFormations

        <ul *ngFor="let module of modules">
          <!-- <li *ngFor="let module of getModulesForFormation(formation.id)"> -->
            <li>
            Module ID: {{ module.code }} - Nom: {{ module.nom_module}}
          </li>
        </ul>

        <ul *ngFor="let moduleFormation of moduleFormations">
              <li>
              Formation ID: {{ moduleFormation.formation_id }} - Module ID: {{ moduleFormation.module_id}}
            </li>
        </ul>
      </div>
  
      <!-- <div style="margin: 20px;" *ngIf="showDetail">
        <div [innerHTML]="formation.description"></div>
        <div class="row">
          <h2>Détails supplémentaires</h2>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Objectifs de la formation :</h4>
            <ul>
              <li>Renforcer les compétences en gestion d'entreprise</li>
              <li>Développer une expertise technique en finance et comptabilité</li>
              <li>Améliorer les compétences en informatique et en gestion de projet</li>
              <li>Préparer les participants pour des stages en entreprise</li>
            </ul>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">
            <h4>Modalités d'inscription :</h4>
            <p>Date limite d'inscription : <b>15 octobre 2024</b></p>
            <p>Documents requis : CV, lettre de motivation, diplôme (minimum Bac+2)</p>
            <p>Envoyer votre dossier via la plateforme ou par email à <b>inscriptionsaformation.com</b></p>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">
            <h4>Certificat délivré :</h4>
            <p>À la fin de la formation, les participants recevront un <b>certificat de formation professionnelle</b> reconnu par l'État.</p>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">
            <h4>Entreprises partenaires :</h4>
            <p>Plusieurs entreprises partenaires dans les secteurs de la finance, de la gestion, et de l'informatique offriront des opportunités de stages aux meilleurs participants.</p>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">
            <h4>Dates et horaires :</h4>
            <p>Début de la formation : <b>1er novembre 2024</b></p>
            <p>Horaires : Du lundi au vendredi, de 9h à 17h</p>
          </div>
        </div>
      </div> -->
  
      <div class="row">
        <p>
          <i class="bi bi-star-fill" style="color: rgb(99, 104, 3);"></i>
          <i class="bi bi-star-half" style="color: rgb(99, 104, 3);"></i>
          <i class="bi bi-star" style="color: rgb(99, 104, 3);"></i>
        </p>
      </div>
  
      <div class="row">
        <div class="text-end">
          <button class="btn btn-outline-danger" routerLink="/gestionnaire/dasbord-prog-talent">Fermer</button>
          <button class="btn btn-outline-secondary mx-2" style="color: red;" routerLink="">S'inscrire</button>
          <button class="btn btn-warning mx-2" (click)='onSelectFormation(formations.id)'>Modifier</button>
          <button class="btn btn-danger mx-2" (click)="deleteFormation(formations.id)">Supprimer</button>
        </div>
      </div>
  
      <br/>
  </div>
  