
<body>

<div class="align">
    <div class='container py-4'>
        <button routerLink="/gestionnaire/domaines" class='container-l py-4'>
           Contenus libres
        </button>

    </div>
    <div class='container py-4'>
        <button class='container-ll py-4'>
            Formation presentielle
        </button>
    </div>
    
    <div class='container py-4'>
        <button routerLink="/gestionnaire/gestionnaire-certificat" class='container-lll py-4'>
           Creer un certificat
        </button>
    </div>

    <div class='container py-4'>
        <button routerLink="/gestionnaire/formation" class='container-lll py-4'>
            dasbord-prog-talent
        </button>
    </div>
        
        
    </div>

   

</body>